 @import url('https://fonts.googleapis.com/css2?family=Domine&display=swap');
html, body{
    height: 100%;
    width: 100%;
    font-family: 'Domine', serif;
}

.table{
    table-layout: fixed;
    width: 600px;
    margin: auto;
    background: #00005C;
    border: 15px solid #00005C;
    border-radius: 15px;
    text-align: center;
    
}
.screen{
    height: 90px;
    border-radius: 5px;
    background-color: grey;
    text-align: end;
    padding-right: 30px;
    font-size: 30px;
}

.table tr td{
    padding: 3px;

}

.table button{
    text-align: center;
    width: 100%;
    height: 100%;
    padding: 18px;
    margin: 0 2px;
    border: 4px solid #3F3B6C;
    border-radius: 9px;
    cursor: pointer;
    color: #00005C;
    font-size: large;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;
    background-color: #DEBACE;
    transition: 0.4s;
}

button:hover {
    background-color: #eaeaea;
  }

.table input{
    width: 93%;
    height: 40px;
    font-size: large;
    margin: 0;
    padding: 12px 10px;
    padding-right: 10px;
    border: 3px solid lightblue;
    border-radius: 11px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: right;
    color: rgb(13, 52, 85);
}

.text-center{
    text-align: center;
}

#enter_button{
    background-color: #bf84faf6;
}

#enter_button:hover {
    background-color: red;
  }
